@import "fonts"

body
	overflow-y: scroll
	overflow-x: hidden
	background-color: #EDEEF0

li
	list-style: none 
a
	text-decoration: none
	outline: none	
	transition: color .25s ease
	&:hover
		text-decoration: none   

.container,
.price-container
	max-width: 1200px
	width: auto
	margin: 0 auto
.price-container
	background-color: #fff
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
	border-radius: 4px


.header
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
	background-color: #DAE5E8
	&__list
		display: flex
		flex-direction: row
		justify-content: space-around
		align-items: center
		text-transform: uppercase
		width: 100%
		padding: 0
		margin: 0
		&-elem
			transition: transform .5s ease
			&:hover
				color: #000
				transform: scale(1.05)
			&:nth-child(3)
				transform: none
		&-link
			font-family: 'AmaticBold', sans-serif
			color: #2E3237
			font-size: 40px
			padding: 5px 15px 5px 15px
			position: relative
			&:hover
				color: #000
		&-img
			width: auto
			height: 150px
	content
		#hamburger
			display: none
		text
			display: none

.portfolio
	&__logo
		text-align: center
		font-size: 60px
		font-family: 'AmaticRegular', sans-serif
		margin-top: 50px
	&-info
		text-align: center
		font-family: 'RobotoRegular', sans-serif
		font-size: 19px
		position: relative
		top: 10px
		opacity: 0
		margin-bottom: 0
		margin-top: 30px
	&__menu
		margin-top: 30px
		display: flex
		justify-content: center
		font-family: 'AmaticBold', sans-serif
		font-size: 29px
		padding: 0
	li
		cursor: pointer
		padding: 5px
		margin-right: 10px
		transition: all .5s ease
		&::after
			content: ""
			display: block
			width: 0%
			height: 1px
			background-color: #2E3237
			transition: width .5s ease-in-out, left .5s ease-in-out
			position: absolute
			left: 50%
			bottom: 0
		&:last-child
			margin-right: 0
		&:hover
			transform: scale(1.2)
	.active
		transform: scale(1.2)
		&::after
			width: 100%
			left: 0  

.galereya-grid
	top: 0

.galereya-top
	width: 0
	height: 0

.galereya-cats
	display: none

.galereya-cell-desc-text,
	font-family: 'RobotoRegular', sans-serif
	font-size: 13px

.galereya-slider-desc
	font-family: 'RobotoRegular', sans-serif
	font-size: 15px

.galereya-cell
	transition: transform .5s ease
	&:hover
		transform: scale(1.02)

//-------------------------------------------PRICE---------------------------------------//

.price
	margin: 10px 0
	&__title
		font-family: 'AmaticBold', sans-serif
		font-size: 60px
		text-align: center
		margin-top:	0
	&__block                          /*добавление линий к заголовкам*/
		&:first-of-type
			.price__block-title-wrap
				display: flex
				align-items: center
				justify-content: space-around
				.price__block-title-line
						&:first-child
							background: url(../img/left-line1.png) no-repeat 50% 50%
							background-size: contain
							height: 10px
							width: 400px
							margin-right: 10px
						&:last-child
							background: url(../img/right-line1.png) no-repeat 50% 50%
							background-size: contain
							height: 45px
							width: 400px
							margin-left: 10px
		&:nth-of-type(2)
			.price__block-title-wrap
				display: flex
				align-items: center
				justify-content: space-around
				.price__block-title-line
						&:first-child
							background: url(../img/left-line2.png) no-repeat 50% 50%
							background-size: contain
							height: 80px
							width: 500px
							margin-right: 10px
						&:last-child
							background: url(../img/right-line2.png) no-repeat 50% 50%
							background-size: contain
							height: 80px
							width: 500px
							margin: -25px 0 0 10px
		&:nth-of-type(3)
			.price__block-title-wrap
				display: flex
				align-items: center
				justify-content: space-around
				.price__block-title-line
						&:first-child
							background: url(../img/left-line3.png) no-repeat 50% 50%
							background-size: contain
							height: 60px
							width: 330px
							margin-right: 10px
						&:last-child
							background: url(../img/right-line3.png) no-repeat 50% 50%
							background-size: contain
							height: 60px
							width: 330px
							margin: 0 0 0 10px
		&:nth-of-type(4)
			.price__block-title-wrap
				display: flex
				align-items: center
				justify-content: space-around
				.price__block-title-line
						&:first-child
							background: url(../img/left-line4.png) no-repeat 50% 50%
							background-size: contain
							height: 60px
							width: 250px
							margin-right: 10px
						&:last-child
							background: url(../img/right-line4.png) no-repeat 50% 50%
							background-size: contain
							height: 130px
							width: 270px
							margin: -100px 0 0 10px
		&:nth-of-type(5)
			.price__block-title-wrap
				display: flex
				align-items: center
				justify-content: space-around
				.price__block-title-line
						&:first-child
							background: url(../img/left-line5.png) no-repeat 50% 50%
							background-size: contain
							height: 30px
							width: 270px
							margin-right: 10px
						&:last-child
							background: url(../img/right-line5.png) no-repeat 50% 50%
							background-size: contain
							height: 30px
							width: 280px
							margin: 20px 0 0 0
		&-wrap
			display: flex
			justify-content: space-between
			align-items: center
		&-title
			text-align: center
			font-size: 40px
			font-family: 'AmaticBold', sans-serif
			color: #140c0c
		&-select
			display: none
		&-img
			width: 300px
			height: auto
	&__card
		&-title
			margin-left: 40px
			font-size: 35px
			font-family: 'AmaticBold', sans-serif
		&-img-wrap-1
			display: flex
			flex-direction: column
			justify-content: space-between
			flex-wrap: wrap
			height: 450px
			width: 620px
		&-img-wrap-2
			display: flex
			justify-content: space-between
			width: 610px
		&-wrap
			width: 400px
	&__cost
		margin-left: 40px
		font-size: 28px
		font-family: 'AmaticBold', sans-serif
	&__list
		&-elem
			list-style-type: circle
			font-family: 'AmaticBold', sans-serif
			font-size: 25px
			margin-left: 30px
	&__info
		margin-left: 40px
		font-size: 35px
		font-family: 'AmaticBold', sans-serif

.love-story,
.reportage,
.shop,
.certificate
	display: flex
	align-items: center

.certificate
	&__title
		margin-left: 40px
		font-size: 35px
		font-family: 'AmaticBold', sans-serif

.extra-services
	&__list
		margin-bottom: 0
	&__list-elem
		list-style-type: circle

.footer
	background-color: #DAE5E8
	box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8
	&__wrap
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-between
	&__social
		display: flex
		justify-content: start
		padding: 0
		&-ico
			color: #2E3237
			margin-right: 5px
			font-size: 34px
			transition: color .5s ease
			&:hover
				color: #000
	&__address
		margin-bottom: 30px
	&__city
		color: #2E3237
		font-size: 12px
		margin-bottom: 0		
	&__phone
		color: #2E3237
		font-size: 12px
		margin-top: -17px

@import "media" // Always at the end
